*{
    font-family: 'Poppins', sans-serif;
}

.mb-n2 {
    z-index: 1;
    font-size: 3rem;
    margin-bottom: -40px;
    font-weight: bold;
}
.main{
    font-size: 4rem !important;
}


.upper-case{
    text-transform: uppercase;
}
#img-weather{
    width: 40%;
    z-index: 0;
}
